@page "/build"
@inject IBananaService BananaService
@inject IUnitService UnitService

<h3>Build</h3>

<div class="form-group">
    <select class="form-control" @bind="_selectedUnitId">
        @foreach (var unit in UnitService.Units)
        {
            <option value="@unit.Id">@unit.Title // @unit.BananaCost Bananas</option>
        }
    </select>
</div>
<button class="btn btn-info" @onclick="BuildUnit">Build</button>

@code {
    private int _selectedUnitId = 1;

    public void BuildUnit()
    {
        var selectedUnit = UnitService.Units.FirstOrDefault(unit => unit.Id == _selectedUnitId);
        if (selectedUnit != null)
        {
            BananaService.EatBananas(selectedUnit.BananaCost);
            UnitService.AddUnit(selectedUnit.Id);
        }
    }

}