@page "/login"

@if (_isAuthenticated)
{
    <h3>Welcome @_userLogin.UserName</h3>
}
else
{
    <h3>Login</h3>

    <EditForm Model="_userLogin" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator/>
        <div class="form-group">
            <label for="username">User Name</label>
            <div>
                <InputText id="username" class="form-control" @bind-Value="_userLogin.UserName"/>
            </div>
            <ValidationMessage For="@(() => _userLogin.UserName)"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div>
                <InputText type="password" id="password" class="form-control" @bind-Value="_userLogin.Password"/>
            </div>
            <ValidationMessage For="@(() => _userLogin.Password)"/>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <ValidationSummary/>
    </EditForm>
}

@code {
    private readonly UserLogin _userLogin = new();

    bool _isAuthenticated = false;

    private void HandleLogin()
    {
        _isAuthenticated = true;
        Console.WriteLine($"{_userLogin.UserName} {_userLogin.Password}");
    }
}