@inject IBananaService BananaService
<button class="btn btn-info" @onclick="@IncreaseBananaCount">+</button>

@code {
    public void IncreaseBananaCount()
    {
        int amount = 20;
        BananaService.AddBananas(amount);
    }
}